[submodule "castle-data"]
	path = castle-data
	url = https://github.com/Jakub16/castle-data.git
[submodule "castle-weather-client"]
	path = castle-weather-client
	url = https://github.com/Jakub16/castle-weather-client.git
[submodule "castle-weather-updater"]
	path = castle-weather-updater
	url = https://github.com/Jakub16/castle-weather-updater.git
[submodule "castle-web-api"]
	path = castle-web-api
	url = https://github.com/Jakub16/castle-web-api.git
[submodule "castle-frontend"]
	path = castle-frontend
	url = https://github.com/Jakub16/castle-frontend.git
[submodule "castle-thymeleaf-frontend"]
	path = castle-thymeleaf-frontend
	url = https://github.com/Jakub16/castle-thymeleaf-frontend.git
